# Virtual Environment
venv/
.venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Django stuff
db.sqlite3
staticfiles/

# Media files (optional)
media/

# Logs
*.log

# IDE / Editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

temp.txt